<section id="todoapp">
  <header id="header">
    <h1>TODO</h1>
    <input id="new-todo" placeholder="What needs to be done?" autofocus>
  </header>
  <section id="details">
      {{#collection tag="ul" id="todo-list"}}
        <li {{#if completed}}class="completed"{{/if}}>
          <div class="view">
            <input class="toggle" type="checkbox" {{#if completed}}checked="checked"{{/if}}>
            <label>{{title}}</label>
            <button class="destroy"></button>
          </div>
        </li>
      {{/collection}}
    </section>
</section>
